@import "tailwindcss";

@layer components {
  .form-input {
    @apply w-full rounded-md border border-gray-300 bg-blue-50 px-3 py-2 text-sm text-gray-800 placeholder:text-gray-400 outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
  }

  .form-select {
    @apply w-full rounded-md border border-gray-300 bg-blue-50 px-3 py-[9px] text-sm text-gray-800 outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
  }
}
